/* подключаемые шрифты */
@font-face {
    font-family: 'Lemon';
    src: local('fonts/Lemon Regular'), local('Lemon-Regular'),
        url('fonts/Lemon-Regular.woff2') format('woff2'),
        url('/fonts/Lemon-Regular.woff') format('woff'),
        url('fonts/Lemon-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --whitecolors: #ffffff;
    --brandcolor: #FF5700;
    --brandcolorlight: #FF8445;
    --brandcolordark: #A13700;
    --brandfont: 'Lemon';
    --Roboto: 'Roboto', sans-serif;
    --RobotoMono: 'Roboto Mono', monospace;
    --RobotoSlab: 'Roboto Slab', serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--RobotoSlab);
    font-size: 16px;
}

a {
    text-decoration: none;
    display: block;

}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    padding: 10px 0;
    align-items: center;
    min-height: 35px;
    justify-content: space-between;
}

.header-logo {
    flex-basis: auto;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    padding: 0px 0 0 75px;
    background-position: 0 0;
    font-family: var(--brandfont);
    font-style: normal;
    background-size: 66px;
    width: 50%;

}

.name {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--brandcolor);
}

.slogan {
    font-size: 14px;
    color: var(--brandcolor);
    text-transform: uppercase;
    font-family: var(--RobotoSlab);
}

.header-phone {
    font-family: var(--RobotoMono);
    color: var(--brandcolor);
    font-size: 24px;
}

.header-phone span {
    font-size: 30px;
    font-weight: bold;
}

.header-menu {
    width: 50px;
    min-height: 50px;
    background-image: url(../images/menu.svg);
    background-size: contain;
    cursor: pointer;
}

.header-line {
    min-height: 60px;
    background: var(--brandcolor);
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);

}

.header-line_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;

}

.header-line_flex a {
    padding: 10px 20px;
    font-family: var(--RobotoSlab);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--whitecolors);
}

.header-line_flex a:hover,
.link-active {
    background: var(--brandcolorlight);
    padding: 10px 20px;
}

.content {
    background-image: url(../images/nuts.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 0;


}

.content-flex {
    display: flex;
    align-items: center;
    color: var(--whitecolors);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 610px;

}

.content-flex h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 50px;
}

.content-flex h1>span {
    color: var(--brandcolorlight);
}

.content-slogan {
    color: var(--brandcolorlight);
    font-size: 16px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.content-button {
    text-align: center;
    color: var(--whitecolors);
    background: var(--brandcolor);
    box-shadow: 5px 10px 0 var(--brandcolordark);
    padding: 25px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    width: 350px;
}

.catalog-name {
    font-family: var(--RobotoSlab);
    font-weight: bold;
    font-size: 50px;
    color: var(--brandcolor);
    text-transform: uppercase;
    text-align: center;
}
.product-name{
    height: 300px;
    background: url(../images/catalog.svg) no-repeat;
}